
.container {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

#screen {
    background-color: aqua;
    width: 400px;
    height: 100px;
    border: 10px solid aqua;
    border-radius: 10px;
    align-items: center;
    justify-content: right;
    margin-left: 30px;
    margin-top: 20px;
    font-size:35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    display: flex;
    flex-direction: row;
   
}

#calculator {
    background-color: grey;
    border-radius: 10px;
    border: 2px solid #888;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.button_container {
    display: flex;
    flex-wrap: wrap;
}

.num_button {
    font-size:x-large;
    background-color: mintcream;
    color: black;
    width: 60px;
    height: 60px;
    margin: 30px;
    border-radius: 15px;
    border: 2px solid mintcream;
}

.op_button {
    font-size:x-large;
    background-color: red;
    color: white;
    width: 60px;
    height: 60px;
    margin: 30px;
    border-radius: 15px;
    border: 2px solid red;
}